<html>
<% include templates/head %>
    <% include templates/header %>

        <div class="hg">
            <h1>Gimnasios Actuales</h1>
        </div>
        <div id="Gimnasios">
            <div class="row" id="getgym">


            </div>
        </div>

        <% include templates/footer %>

</html>