<html>
<% include templates/head %>
<% if (!user) { %>
    <% include templates/header%>
        <% } else { %>
            <% include templates/header_Usuario%>
                <% } %>

        <div class="hg">
            <h1>Gimnasios Actuales</h1>
        </div>
        <div id="Gimnasios">
            <div class="row" id="getgym">


            </div>
            <div class="row" id="getgym2">


                </div>            
        </div>

        <% include templates/footer %>

</html>