<html>
  <% include templates/head %>
  <% if (!user) { %>  
  <% include templates/header%>
  <% } else { %>
  <% include templates/header_logueado%>
  <% } %>

  <body>
  </body>

  <% include templates/footer %>
</html>