<!DOCTYPE HTML>

<html>
<% include templates/head %>


<body>

	<!-- Wrapper -->
	<div id="wrapper">
		
		
		<!-- Main -->
		<% include templates/main %>
		<% include templates/menu %>

		<!-- Sidebar -->
		<% include templates/footer%>

	</div>

	<!-- Scripts -->
	

</body>

</html>