<html>
  <% include templates/head %>
  <% if (!role) { %>  
  <% include templates/header%>
  <% } else if(role==="Empresa"){ %>
  <% include templates/header_Empresa%>
  <% } else { %>
  <% include templates/header_Usuario%>
  <% } %>
  <body>
    <div class="hg">
      <h1>Gimnasios Actuales</h1>
    </div>
    <div id="Gimnasios">  
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <h2 id="sng">Synergym</h2>
              <div class="col-lg-6">
                <h3>Servicios</h3>
                  <ul id="ser"></ul>
              </div>
              <div class="col-lg-6">
                <h3>Precios</h3>
                <ul id="pre"></ul>
              </div>
          </div>
            <p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
      </div>
        <div class="col-lg-4">
          <div class="row">
            <h2 id="rcg">Gymrock</h2>
              <div class="col-lg-6">
                <h3>Servicios</h3>
                  <ul id="ser_rcg"></ul>
              </div>
              <div class="col-lg-6">
                <h3>Precios</h3>
                <ul id="pre_rcg"></ul>
              </div>
          </div>
            <p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <h2 id="atn">atenas</h2>
              <div class="col-lg-6">
                <h3>Servicios</h3>
                  <ul id="ser_atn"></ul>
              </div>
              <div class="col-lg-6">
                <h3>Precios</h3>
                <ul id="pre_atn"></ul>
              </div>
          </div>
            <p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
    </div>

  </body>

  <% include templates/footer %>
</html>