<% include templates/head %>

    <% include templates/header%>

        <main role="main">
            <div class="container">
                <div class="row">
                    <div class="jumbotron col-md-6">
                        <h3> Añadir Sevicio</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" name="servicio" id="servicio" placeholder="Servicio" value="" required tabindex="2">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Describa el servicio" value="" required
                                tabindex="2">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="precio" id="precio" placeholder="Precio" value="" required tabindex="2">
                        </div>
                        <p>
                            <a class="btn btn-register" href="#" role="button">Añadir &raquo;</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h1>Lista de Servicios</h1>
                        <h2>Servicio</h2>
                        <ul id="servicios">
                        
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h1>Lista de Precios</h1>
                        <h2>Precio</h2>
                        <ul id="precios">
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div id="map"></div>

        </main>
        <% include templates/footer %>