<footer class="footer">
      <div class="container">
        <p class="text-muted idFotter"><strong>FindFit!! Tu buscador de Gimnasios. <a href="/contacto">Contacta</a> con nosotros </strong></p>
      </div>
    </footer>