<footer class="footer">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
              <ul class="navfooter">
                <li><a href="/">Inicio</a></li>
                <li><a href="/Sign">Usuario</a></li>
                <li><a href="/SignEmpresa">Empresa</a></li>
                <li><a href="/gimnasios"></a>Gimnasios</li>
              </ul>
          </div>
          <div class="col-md-4 enlaces">
              <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
          <div class="col-md-4">
              <p class="idFotter"><strong>FindFit!! Tu buscador de Gimnasios. </strong>
                <a href="/contacto" style="text-decoration:none">Contacta</a> con nosotros</p>
            <ul>
              <li>Fernando Nieto Gonzalez</li>
              <li>671295435</li>
              <li>fernando_n_g@hotmail.com</li>
              <li>C/Nueva 1A ÁticoB , Fuengirola</li>
            </ul>  
          </div>
        </div>

         
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh4R3rcJMAYisydxoWTT5wETQ9CWuig8o&callback=iniciarMapa" async defer></script>
    </footer>