<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="generic.html">Generic</a>
                </li>
                <li>
                    <a href="elements.html">Elements</a>
                </li>
                <li>
                    <span class="opener">Login</span>
                    <ul>
                        <li>
                            <a href="#">Empresa</a>
                        </li>
                        <li>
                            <a href="#">Usuario</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Registro</span>
                    <ul>
                        <li>
                            <a href="#">Empresa</a>
                        </li>
                        <li>
                            <a href="#">Usuario</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section>
            <header class="major">
                <h2>Contacto</h2>
            </header>
            <p>Mediante los siguientes medios de comunicación puede ponerse en contacto con nosotros para cualquier pregunta
                o sugerencia
            </p>
            <ul class="contact">
                <li class="fa-envelope-o">
                    <a href="#">Findfit@Findfit.com</a>
                </li>
                <li class="fa-phone">952 952 952</li>
                <li class="fa-home">Avenida de Andañucía, 14
                    <br /> Málaga, 29001</li>
            </ul>
        </section>

    </div>
</div>